*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .75), rgba(0,0,0, .75)), url("../images/fondoMostrarLista.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face{
    font-family:AdleryBlockletter;
    src: url("../fonts/AdleryBlockletter.ttf");
}

@font-face{
  font-family:Aileron;
  src: url("../fonts/Aileron-Bold.otf");
}

input{
    font-family: Aileron;
    font-size: 1.2em;
}

div{
    width: 100%;
}

.buscador{
    display: flex;
    justify-content: center;
    margin-left: auto;
    transition: color 0.2s, border-color 0.2s;
}

.lupa{
    background-color: transparent;
    border: none;
    font-size: 3em;
    color: white;
}

.primera-fila{
    font-size: 1.4em;
}

.botones a{
    text-align: center;
    justify-content: space-around;
    display: flex;
    color: aqua;
}

a{
    background-color: #141414;
    text-decoration: none;
}

/* Para cambiar el boton de la letra cuando el enlace no ha sido visitado */
.botones a:link {
    color: rgb(230, 230, 230);
  }
  /* Para cambiar el boton de la letra cuando el enlace ya ha sido visitado */
  .botones a:visited {  
    color: rgb(230, 230, 230);
  }

  .busc{
    margin: 0;
    text-align: center;
    justify-content: flex;
  }