<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="assets/css/elegirRama.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elegir rama</title>
</head>
<body>
    <h1>ELEGIR RAMA</h1>

    <div class="fotos">
        <a href="index.php?c=Usuarios&a=genero"><img src="assets/images/fotoRama1.jpeg" width="225px" height="225px"></a>
        <a href="index.php?c=Usuarios&a=genero"><img src="assets/images/fotoRama2.jpeg" width="225px" height="225px"></a>
        <a href="index.php?c=Usuarios&a=genero"><img src="assets/images/fotoRama3.jpeg" width="225px" height="225px"></a>
        <a href="index.php?c=Usuarios&a=genero"><img src="assets/images/fotoRama4.jpeg" width="225px" height="225px"></a>
    </div>
    <div class="textos">
        <a>Competidores 12/13 años</a>
        <a>Competidores 14/15 años</a>
        <a>Competidores 16/17 años</a>
        <a>Competidores Mayores</a>
    </div>
    <div class="volver">
        <button class="back" onclick="window.history.back()">VOLVER</button>
    </div>
</body>
</html>