<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="assets/css/elegirRama.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elegir Genero</title>
</head>
<body>
    <h1>ELEGIR GENERO</h1>

    <div class="fotos">
        <a href="#"><img src="assets/images/fotoGenero1.webp" width="402px" height="300px"></a>
        <a href="#"><img src="assets/images/fotoGenero2.webp" width="402px" height="300px"></a>
    </div>
    <div class="textos">
        <a>Femenino</a>
        <a>Masculino</a>
    </div>
    <div class="volver">
        <button class="back" onclick="window.history.back()">VOLVER</button>
    </div>
</body>
</html>