*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .75), rgba(0,0,0, .75)), url("../images/fondo3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face{
    font-family:AdleryBlockletter;
    src: url("../fonts/AdleryBlockletter.ttf");
}

@font-face{
  font-family:Aileron;
  src: url("../fonts/Aileron-Bold.otf");
}

.arriba {
    display: flex;
}

.logo {
    display: flex;
    margin-left: auto;
    margin-right: 1em;
    margin-top: 1em;
    width: 10em;
    height: 10em;
}

h3 {    
    text-align: center;
    font-size: 4em;
    color: white;
    font-family: AdleryBlockletter;
}

.opciones{
    font-size: 10vh;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-family: Aileron;
}

/*boton*/
/* Estilo base del botón */
.btn {
    padding: 10px 20px;
    width: 50vh;
    background-color: #141414;
    color: #aaaaaa;
    opacity: 0.95;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.2s, border-color 0.2s; /* Agregar transición para color y borde */
  }
  
  /* Estilo cuando el mouse pasa por encima del botón */
  .btn:hover {
    background-color: #5e17eb65;
  }
  
  /* Estilo cuando se presiona el botón */
  .btn:active {
    background-color: #5e17eb65;
    color: black;
    border-color: #5e17eb65;
  }
  /*boton*/
