*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .75), rgba(0,0,0, .75)), url("../images/fondoMostrarLista.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white;
    letter-spacing: 1px;
}

@font-face{
    font-family:AdleryBlockletter;
    src: url("../fonts/AdleryBlockletter.ttf");
}

@font-face{
  font-family:Aileron;
  src: url("../fonts/Aileron-Bold.otf");
}

img{
  display: flex;
  margin-left: auto;
  margin-top: 1em;
  margin-right: 1em;
}

form{
    margin-top: -8em;
}

input{
    font-family: Aileron;
    font-size: 1.2em;
}

div{
    width: 100%;
}

.busc {
    display: flex;
    justify-content: left;
    margin: -.5em 0 0 5em; /* margin: (top) (right) (bottom) (left) */
    text-align: center;
  }

.search-form {
    display: flex;
    align-items: center;
  }
  
  .buscador {
    flex: 1;
    font-family: Aileron;
    font-size: 1.2em;
    height: 3em;
    width: 15em;
    padding-left: 2.5em;
    margin-right: 10px;
    border-radius: 12px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    transition: border 0.5s;
  }

  .buscador:hover{
    border: 2px solid #5E17EB;
  }
  
  .buscador:focus {
    border: 2px solid #5E17EB;
    outline: none;
  }

  .lupa {
    background-color: transparent;
    border: none;
    font-size: 3em;
    color: rgb(200, 200, 200);
  }

.primera-fila{
    font-size: 1.4em;
}

a{
  font-family: Aileron;
  font-size: 1.2em;
  color: rgb(230, 230, 230);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover{
    color: #5E17EB;;
  }
  
  a:focus {
    outline: none;
  }

/* Para cambiar el boton de la letra cuando el enlace no ha sido visitado */
.botones a:link {
    color: rgb(230, 230, 230);
  }
  /* Para cambiar el boton de la letra cuando el enlace ya ha sido visitado */
.botones a:visited {  
    color: rgb(230, 230, 230);
    text-decoration: none;
  }

  /* tabla */
  table {
    text-align: center;
    text-decoration: none;
    font-family: Aileron;
    font-size: 1em;
    color: white;
    border-left: 2px solid #5E17EB;
    border-right: 2px solid #5E17EB;
    width: 80%;
    margin: 0 auto;
    margin-top: 10vh;
    opacity: 0.97;
    white-space: nowrap;
  }

  th{
    line-height: 3em;
  }

   th, td {
    padding: 8px 10px;
    width: 15em;
    background-color: #141414;
    color: rgb(230, 230, 230);
    opacity: 0.95;
    border-left: 2px solid #5E17EB;
    border-right: 2px solid #5E17EB;
    transition: color 0.2s, border-color 0.2s; /* Agregar transición para color y borde */
  }