*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .75), rgba(0,0,0, .75)), url("../images/fondoMostrarLista.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face{
    font-family:AdleryBlockletter;
    src: url("../fonts/AdleryBlockletter.ttf");
}

@font-face{
  font-family:Aileron;
  src: url("../fonts/Aileron-Bold.otf");
}

h1{
    display: flex;
    justify-content: right;
    margin-right: 1em;
    margin-top: 0.2em;
    font-size: 8em;
    color: white;
    font-family:AdleryBlockletter;
}

h2{
    display: flex;
    justify-content: right;
    margin-right: 3em;
    margin-top: 0.2em;
    font-size: 1.6em;
    color: white;
    font-family:Aileron;
}

.colorLetraK{
    color: red;
    word-spacing: 2em;
}

form{
    margin-top: -8em;
}

input{
    font-family: Aileron;
    font-size: 1.2em;
}

div{
    width: 100%;
}

.busc {
    margin: 0 2em 0 2em; /* margin: (top) (right) (bottom) (left) */
    text-align: center;
    display: flex;
    justify-content: left;
  }

.search-form {
    display: flex;
    align-items: center;
  }
  
  .buscador {
    flex: 1;
    font-family: Aileron;
    font-size: 1.2em;
    height: 3em;
    width: 15em;
    padding-left: 1em;
    margin-right: 10px;
    border-radius: 12px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    transition: border 0.5s;
  }

  .buscador:hover{
    border: 2px solid #5E17EB;
  }
  
  .buscador:focus {
    border: 2px solid #5E17EB;
    outline: none;
  }

  .lupa {
    background-color: transparent;
    border: none;
    font-size: 3em;
    color: rgb(200, 200, 200);
  }

.primera-fila{
    font-size: 1.4em;
}

.botones{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-top: 5em;
}

a{
    font-family: Aileron;
    border: 2px solid white;
    color: white;
    font-size: 1.6em;
    text-align: center;
    text-decoration: none;
    width: 5.5em;
    border-radius: 6px;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.25);
}

a:hover{
    background-color: rgba(94, 23, 235, 0.5);
  }
  
  a:focus {
    border: 2px solid #5E17EB;
    outline: none;
  }

/* Para cambiar el boton de la letra cuando el enlace no ha sido visitado */
.botones a:link {
    color: rgb(230, 230, 230);
  }
  /* Para cambiar el boton de la letra cuando el enlace ya ha sido visitado */
.botones a:visited {  
    color: rgb(230, 230, 230);
  }

  /* tabla */
  table {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1em;
    border-left: 2px solid #5E17EB;
    border-right: 2px solid #5E17EB;
    width: 80%;
    margin: 0 auto;
    margin-top: 10vh;
    opacity: 0.97;
    font-family: Aileron;
  }

  th{
    line-height: 3em;
  }

   th, td {
    padding: 8px 10px;
    width: 15em;
    background-color: #141414;
    color: rgb(230, 230, 230);
    opacity: 0.95;
    border-left: 2px solid #5E17EB;
    border-right: 2px solid #5E17EB;
    transition: color 0.2s, border-color 0.2s; /* Agregar transición para color y borde */
  }

  td:hover{
    color: #5E17EB;
    border-color: #5E17EB;
  }

  tr:hover{
    color: #5E17EB;
    border-color: #5E17EB;
  }    